body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
    background-image: url('../assets/background-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .login-container {
    background-color: rgb(119, 255, 0);
    background-image: url('../assets/background-2.jpg');
    padding: 40px;
    border: 6px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px; /* increase width */
    height: 350px; /* increase height */
    max-width: 90%; /* for smaller screens */
    text-align: center;
    font-size: 1.5em;
    color: #f0f3ee;
    
  }
  
  /* Input fields */
  .login-container input {
    padding: 10px;
    margin: 37px;
    display: block;
    width: 77%;
    padding: 12px;
    margin: 15px 0;
    font-size: 16px;
    color: #2f610b;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f3ee;
    position: relative;
    bottom: 80px;
  }
  
  /* Button styling */
  .login-container button {
    background-color: #2f610b;
    color: white;
    padding: 12px;
    border: none;
    width: 25%;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: -56px;
  }
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    position: relative;
    bottom: 50px;
    left: 0pc;
    top: -31px;
}
  
  .login-container button:disabled {
    background-color: #9ccc9c;
    cursor: not-allowed;
  }
  .form-style {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


/* .login-container {
    max-width: 800px;
    margin: 100px auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(0, 195, 255)
  }
  .login-container input {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    width: 80%;
    background-color: rgb(197, 205, 50);
  }
  .login-container button {
    padding: 0.5rem 1rem;
    background-color: rgb(0, 255, 34);
    border: none;
    color: white;
    cursor: pointer;
  }
   */