/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6db570;
    color: white;
    padding: 15px 30px;
    height: 60px;
  }

  .navbar-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #07500b;
    color: white;
    padding: 15px 30px;
    height: 30px;
  }
  
  .nav-tabs {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-tabs li {
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  .nav-tabs li:hover,
  .nav-tabs li.active {
    background-color: #66bb6a;
  }
  
  .search-input{
    color: #2e7d32;
    background-color: white;
    width: 1000px;
    height: 39px;
    border-radius: 10px;
    position: relative;
    right: 130px;
  }

  .search-button{
    background-color: white;
    position: relative;
    right: 190px;
    border-radius: 10px;
    height: 39px;
    color: #2e7d32;
  }

  .logo-nav {
    position: relative;
    height: 90px;
    width: 81px;
    right: 79px;
  }

  .cart-logo{
    width: 79px;
    height: 57px;
    position: relative;
    left: 14px;
  }
  .cart-count {
    position: absolute;
    top: 11px;
    right: 21px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }